<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <style>
        body {
            text-align: center;
            background-color: #be7cdd;

        }
        h1 {
            font-size: 50px; /* Set the font size of the heading */
            text-align: center; /* Center-align the heading */
            color: #fcf9f9; /* Set the text color */
            margin-top: 400px; /* Add some top margin for spacing */
        }
        
    </style>
</head>
<body>
    <h1>{{result}}</h1>
</body>
</html>